{% extends "hello.html" %}
{% block content %}
<p>Select the piece of work you would like to load and continue working on</p>

<style>
table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
</style>

<table>
  <tr>
    <th>File Name</th>
    <th>First worked</th>
    <th>latest update</th>
    <th>load</th>
  </tr>
  <tr>
    <td>Homework.txt</td>
    <td>29/10/20</td> 
    <td>01/11/20</td>
    <td><button type="button">Load</button></td>
  </tr>
  <tr>
    <td>Assignment.txt</td>
    <td>09/11/20</td>
    <td>01/12/20</td>
    <td><button type="button">Load</button></td>
  </tr>
</table>




{% endblock %}}
