{% extends "hello.html" %}
{% block content %}

<h1>Hello Student</h1>
<p class="lead">Welcome to edinburgh napiers new all in one working enviroment. Through this new site you will be able to do all of your module work without having to leave the browser </p>
<br>
<p class="lead">From the above task bar you are able to:</p>
<br>
<p class="lead">Start any new work your teachers have upload via the work button</p>
<br>
<p class="lead">Continue any work from where you left off from with the load button</p>
<br>
<p class="lead">Look at any feedback teachers have given you via the feedback button</p>
<br>
<p class="lead">Submit any new work for your teacher to mark via the submit button</p>

{% endblock %}}
