{% extends "teacherMain.html" %}
{% block content %}

<h1>Hello Staff Member</h1>
<p class="lead">Welcome to Edinburgh napiers new all in one work environment. On this site you'll be able to do a varity of tasks without leaving the browser these tasks range from: </p>
<br>
<p class="lead">Start marking new work that students have submited</p>
<br>
<p class="lead">Load and continue any marking that you did not complete</p>
<br>
<p class="lead">Upload work for your students</p>
<br>
<p class="lead">Submit any feedback for your students to see</p>

{% endblock %}}
