{% extends "hello.html"%}
{% block content %}

<p>Put text editor and display file here</p>  

<textarea id="my-textarea"  name="myTextBox" cols="50" style="width: 50%; max-width: 50%; height: 600px; resize: none; float: right;"></textarea>

<iframe src="https://drive.google.com/file/d/1vPqdeS7EjOLBsHZog78iXZaVLsuBh9kZ/preview" style="float: left; width: 50%; height: 600px;"></iframe>

<script>
function download(){
    var text = document.getElementById("editor1").value;
    text = text.replace(/\n/g, "\r\n");
    var blob = new Blob([text], {type: "text/plain"});
    var anchor = document.createElement("a");
    anchor.download = "my-filename.txt";
    anchor.href = window.URL.createObjectURL(blob);
    anchor.target ="_blank";
    anchor.style.display = "none";
    document.body.appendChild(anchor);
    anchor.click();
    document.body.removeChild(anchor);
 }
</script>

<input style="float: right;"  type="submit" onclick="download()" />

{% endblock %}}
