<html> 
<head>
<title>Napier Website</title>

<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" /> 

<style> 
body{
padding -top: 50px;
} 
</style>

</head> 

<body>

<nav class="navbar navbar-dark bg-danger" style="background-color:red;" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/staff/home" style="color:black">Napier Worksite</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
      <li><a href="/staff/work" style="color:black">Work</a></li>
      <li><a href="/staff/load" style="color:black">Load</a></li>
      <li><a href="/staff/upload" style="color:black">Upload</a></li>
      <li><a href="/staff/marking"style="color:black">Submit</a></li>
    </ul>

<ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user" style="color:black"></span> Account</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-cog" style="color:black"></span> Sign Out</a></li>
</ul> 
  </div>
</nav>

<div class="container"> 

{% block content %} {% endblock %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/ jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body> </html>
